@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

/* Shared Style*/

.color-primary {
    color: #FF0000;
}

.color-secondary {
    color: white;
}

.flex {
    display: flex;
}

.align {
    align-items: center;
}

.justify {
    justify-content: center;
}

.thirty {
    font-size: 30px;
}

.gap {
    margin-bottom: 18px;
}

section {
    margin-bottom: 100px;
}

/* Style for Buttons */

/* Main styles */


main {
    padding: 20px 140px;
}

#banner {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.1)), url("../images/banner-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 500px;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#banner .banner-container h4 {
    font-size: 22px;
}

#banner .banner-container h1 {
    font-size: 52px;
    text-shadow: 2px 3px 5px rgb(17, 20, 2);
}

#banner .banner-container {
    width: 50%;
}

/* Style for Sale Section */

#sale {
    text-align: center;
}

#sale .sale-container h1 {
    font-size: 62px;
}

#sale .sale-container {
    width: 60%;
}

.sale-img img {
    width: 100%;
}

/* Styles for Party */

#party {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.751), rgba(0, 0, 0, 0.224)), url("../images/Vectorrr.png");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#party .party-container {
    padding-left: 120px;
    width: 50%;
}

#party .party-container h1 {
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 25px;
}

.join-btn {
    padding: 10px 20px;
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color .5s, color .5s;

}

.join-btn:hover {
    background-color: white;
    color: black;
}

.party-paragraph {
    color: rgba(255, 255, 255, 0.84);
}

/* Styling for Venue */

#venue {
    background-image: linear-gradient(to bottom, #ff00002b, #ff000000);
    border-radius: 16px;
    padding: 110px;
    text-align: center;
    height: 410px;
}

.venue-container {
    flex-direction: column;
    gap: 15px;
}

.venue-container button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    transition: background-color .5s;
}

.venue-container button:hover {
    background-color: #d70505;
}

.venue-container h1 span {
    color: #FF0000;
    margin-right: 10px;
}

/* Styling for Best Offer */

#best-offer .offers-container {
    gap: 30px;
    justify-content: space-between;
}

.offer {
    width: 30%;
}

.middle-offer img {
    border: 5px solid red;
    border-radius: 50%;
    width: 85%;
    padding: 20px;
    text-align: center;
}

.last-offer {
    align-self: flex-end;
}

.last-offer img {
    width: 100px;
}

.last-offer p,
.first-offer p,
#holiday p,
.portfolio-desctiption p,
#newsletter p {
    margin-bottom: 30px;
    color: rgba(7, 2, 17, 0.6);
    font-size: 12px;
}

.last-offer h1,
.first-offer h1 {
    margin-bottom: 8px;
}

.last-offer h1,
.first-offer h5 {
    color: rgba(255, 0, 0, 1);
}

/* Styling for Holiday */

#holiday {
    text-align: center;
}


.holiday-description {
    padding: 10px 150px;
    margin-bottom: 60px;
}

#holiday span {
    color: #FF0000;
}

#holiday h1 {
    font-size: 64px;
    margin-top: 16px;
    margin-bottom: 28px;
}

#holiday h6 {
    color: rgba(7, 2, 17, 1);
    font-size: 20px;
}

.holiday-image {
    background-image: url("../images/rectangle-2.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
    justify-content: space-between;
}


.hl-img1 {
    margin-left: 50px;
    margin-bottom: 10px;
}

.hl-img2 {
    margin-top: 60px;
}

/* Style for Portfolio Section */

.portfolio-container {
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.portfolio-container img {
    width: 300px;
}

.portfolio-desctiption h6 {
    color: #FF0000;
    font-size: 24px;
}

.portfolio-desctiption h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


#newsletter {
    background-color: rgba(255, 0, 0, 0.05);
    padding: 60px 200px;
    text-align: center;
    border-radius: 16px;
}

#newsletter h1 {
    font-size: 36px;
}

#newsletter form {
    gap: 0;
    margin-top: 32px;
}

#newsletter form input {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    width: 400px;
}

#newsletter form input::placeholder {
    font-size: 12px;
}

#newsletter form button {
    padding: 15px 20px;
    background-color: #FF0000;
    border-radius: 0 20px 20px 0;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background-color .5s;
}

#newsletter form button:hover {
    background-color: #da0a0a;

}

.footer-text {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 140px;
    font-size: 12px;
}

.social-icons {
    text-align: center;
}

.social-icons img {
    margin-right: 15px;
    width: 30px;
}

.rights-claim {
    justify-content: space-between;
}

.rights-claim button {
    color: black;
    background-color: white;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.rights-claim button:hover {
    background-color: rgb(184, 182, 182);
}

.ft-flex {
    justify-content: flex-end;
    gap: 10px
}

footer hr {
    border-color: rgba(128, 128, 128, 0.393);
}